.card-img {
    min-height: 330px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        font-size: 16px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.dialog-wrapper {
    position: relative;
}

.close-dialog-btn {
    position: absolute;
    width: var(--close-icon-dialog-sz);
    height: var(--close-icon-dialog-sz);
    top: 10px;
    right: 12px;

    .close-dialog-icon {
        font-size: 36px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}

.dialog-content {
    margin-top: var(--close-icon-dialog-sz);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
}